* {
    box-sizing: border-box;
}

/* testata della pagina */
header {
    margin-left: 45px;
    margin-top: 20px;
    height: 64px;

}
h1 {
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 114px;
    font-family: sans-serif;
}
main {
    background-color: lightgray;
    width: 90%;
    padding-top: 24px;
}
nav {background-color: white;
    width: 80%;
    margin-left: 10%;
    border: 1px solid white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.selection-buttons {
    border: solid 1px lightgray;
    border-radius: 10px;
    width: 105px;
    height: 35px;
    
}
#task {
    background-color: skyblue;
    color: white;
    margin-top: 14px;
    margin-left: 75px;
    margin-bottom: 10px;
}
#selection {
    background-color: white;
    color: lightgray;
}
#section {
    background-color: white;
    width: 80%;
    padding-bottom: 30px;
    margin-top: 1px;
    margin-left: 10%;
    border: 1px solid white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 24px;
}

div.check::before {
    content: "\2713";
    color: green;
    border: solid 1px green;
    border-radius: 50px;
}
div.cross::before {
    content: "\2718";
    color: red;
    border: solid 1px red;
    border-radius: 50px;
}
#editorial {
    background-color: skyblue;
}
#q1goals {
    background-color: rgb(157, 135, 235);
}
#recruiting {
    background-color: rgb(135, 235, 205);
}
#mobile {
    background-color: rgb(241, 140, 93);
}
#website {
    background-color: rgb(252, 158, 244);
}
#sales {
    background-color: rgb(104, 145, 109);
}
.bomb {
    border: solid 1px white;
    border-radius: 19px;
    color: white;
    font-size: 18px;
    padding: 10px;
    margin-left: 10px;
}
div > h3 {
    padding-top: 8px;
}